.AppLayout {
  text-align: center;
  background-color: #14181b;
  height: 100vh;
  padding: 10px;
  color: #ffffff;
  overflow: hidden;

  &__logo {
    width: auto;
    height: 100px;
  }

  &__main {
    overflow: hidden;
  }
}
